.jumbotron {
    background: #42f4cb;
    color: black;
    padding-bottom: 20px;
    margin-bottom: 1px;
    padding-top: 20px;
}

body {
    background: #42f4cb;
    color: #f26a85
}

.container {
    color: #f26a85
}

.display-4 {
    color:#f26a85;
}


#div-container {
    margin-left: 397px;
}
